@model List<ToDoListModel>

@{
    if (Model.Count() < 0)
    {
        <div class=" = " alert alert-warning" role="alert">
            There are no tasks to view
        </div>
    }
    else
    {
        <table class="table">
            <thead class="theme-dark">
         
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (ToDoListModel todoTask in Model)
                    {
                        var rowColor = todoTask.Priority switch
                        {
                            3 => "#f8d7da", // red
                            2 => "#fff3cd", // yellow
                            _ => "#d1e7dd"  // green
                        };


                        <tr style="background-color: @rowColor">
                            <td>@todoTask.Title</td>
                            <td>@todoTask.StartDate</td>
                            <td>@todoTask.EndDate</td>
                            <td><button>View</button></td>
                            <td>
                                <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "ToDoList")'" />
                                <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "ToDoList", new {Id = todoTask.Id} )'" />
                            </td>

                        </tr>
                    }
                }

            </tbody>

        </table>
    }
}